@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #cfcfcfb2;
  height: 100vh;
}

.stay-top{
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.stay-top h3{
  width: 40rem;
  margin-left: -11%;
  font-size:140%;
  letter-spacing: 1px;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.spa-top img{
  width: 100%;
  height: 100vh;
}

.stay-top h1{
  font-size: 250%;
  font-weight: 500;
  font-family: "IBM Plex Serif", serif;
  margin-bottom: 2%;
  font-style: italic;

}



.random-letter {
  opacity: 0;
  display: inline-block;
  transition: opacity 0.3s ease;
}

.random-letter.visible {
  opacity: 1;
}

.classic-room{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-right: 20%;
}

.classic-room img{
  width: 60rem;
  height: 40rem;
}

#classic-words{
  margin-top: 15%;
  width: 20rem;
  margin-left: 5%;
  
}

#classic-words strong{
  font-size: 200%;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
  
}

.classic-room button{
  background-color: #C1A267;
  width: 15rem;
  height: 2rem;
  color: #3c3c3b;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.classic-room button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.stay-bottom{
  width: 100%;
  height: 20rem;
  background-color: #3c3c3b;
  color: #DFDEDF;
  margin-bottom: 5%;
}

.bottom-words{
  margin-bottom: 3%;
  width: 35rem;
 margin-left: 35%;
  margin-top: 15%;
}

.bottom-words h2{
  font-size: 120%;
  font-weight: 500;
  padding-bottom: 3%;
  padding-top: 5%;
  text-align: center;

}

#bottom-icons{
  display: flex;
  justify-content: space-around;
  margin-left: 2%;

  margin-bottom: 10%;
}

#bottom-icons p{
  padding-right: 20%;
  
}

#icon-part{
  margin-bottom: 5%;
}


.dining-top{
display: flex;
justify-content: center;

}

.dining-top img{
  width: 100%;
  height: 45rem;
}

.dining-top-text{
  margin-top: 30%;
  position: absolute;
  top: -20%;
  left: 25%;
  color: #fff;
  letter-spacing: 3px;
  font-size: 200%;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.dining-top-text h1{
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
}

.dining-top-text h3{
  text-align: center;
  font-size: 100%;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
}

.dining-body{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  width: 100%;
  height: 20rem;
  background-color: #cfcfcc;
  margin-bottom: 10%;
}

.dining-body img{
  width: 10rem;
  height: 10rem;
  margin-top: 5%;
  
}

#glow-hotel{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#glow-hotel img{
  width: 60rem;
  height: 30rem;
}

#glow-hotel-words{
  margin-left: 5%;
  margin-top: 5%;
  width: 20rem;
}

#glow-hotel-words h2{
  text-align: center;
  font-size: 200%;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 5%;
}

#glow-hotel-words .glow-hours{
  text-align: center;
  padding-top: 5%;
} 

#glow-hotel #glow-hotel-menu{
  margin-left: 35%;
  color: #C1A267;
}

#glow-hotel #glow-hotel-menu a{
  text-decoration: none;
  font-size: 25px;
  color: #C1A267; 
  display: flex;
  align-items: center;
  margin-top: 2%;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
}



#glow-hotel-menu a svg {
  margin-left: 8px; 
  transition: color 0.3s ease; 
}

#glow-hotel-menu a:hover svg {
  color: #3c3c3b; 
}

#horizon-hotel{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

#horizon-hotel img{
  width: 60rem;
  height: 30rem;
}

#horizon-hotel-words{
  margin-right: 5%;
  margin-top: 5%;
  width: 30rem;
}

#horizon-hotel-words h2{
  text-align: center;
  font-size: 200%;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 5%;
}

#horizon-hotel-words .horizon-hours{
  text-align: center;
  padding-top: 5%;
}

#horizon-hotel-menu{
  margin-left: 35%;
  color: #C1A267;
}

#horizon-hotel-menu a{
  text-decoration: none;
  font-size:25px;
  color: #C1A267; 
  display: flex;
  align-items: center;
  margin-top: 2%;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
}



#horizon-hotel-menu a svg {
  margin-left: 8px; 
  transition: color 0.3s ease; 
}

#horizon-hotel-menu a:hover svg {
  color: #3c3c3b; 
}


.spa-top{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.spa-top img{
  width: 100%;
  height: 60rem;
}

.spa-top .spa-top-words{
  margin-top: 30%;
  position: absolute;
  top: -11%;
  left: 35%;
  color: #fff;
  letter-spacing: 3px;
  font-size: 200%;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 5%;
  

  
              

}

.spa-top-words h1{
  text-align: center;
  
}

.spa-body{
  margin-bottom: 5%;
  
  
}

.spa-body h2{
  margin-left: 35%;
  margin-bottom: 2%;
  width: 40rem;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 150%;
  
  
}

.spa-body-words{
  display: flex;
  justify-content: center;
  
}

.spa-body-words p{
  width: 30rem;
}

/* Add this CSS to your styles */
.image-container {
  opacity: 0; /* Start invisible */
  transform: translateY(50px); /* Start below its position */
  transition: opacity 0.9s ease, transform 0.9s ease; /* Smooth transition */
}

.image-container.visible {
  opacity: 1; /* Fade in */
  transform: translateY(0); /* Move to original position */
}


#spa-packages{
  display: flex;
  justify-content: space-around;
}

#spa-packages-1{
margin-left: 10%;

}

#spa-packages-1 img{
  width: 30rem;
  height: 15rem;
  padding-top: 2%;
}

#spa-packages-1 h2{
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 150%;
}

#spa-packages-2{
  width: 30rem;
  margin-top: 20%;
  margin-right: 10%;
}

#spa-packages-2 p{
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 150%;
}

#spa-packages-2 img{
  width: 35rem;
  height: 50rem;
}

.spa-slider{
  margin-bottom: 5%;
  margin-top: 5%;
}

.spa-slider h2{
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 150%;
  padding-top: 5%;
  text-align: center;
}

.swimming{
  margin-left: 5%;

}

.swimming img{
  width: 45%;
  height: 50%;
}

.swimming h2{
  padding-top: 2%;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 150%;

}
